@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.home {
    object-fit: cover;
    background-size: contain;
    background-position: left;
    background-image: url('https://i.ibb.co/P53n1F5/2579711.jpg');
}


body {
    font-family: 'Catamaran', sans-serif !important; 
}
